# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Django
.env
db.sqlite3
*.log
local_settings.py

# Virtual environment
venv/
env/

# IDE/Editor files
.idea/
.vscode/
*.iml
*.swp
*.swo

# Media files (uploaded by users)
media/

# System files
.DS_Store
Thumbs.db