<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <p>Dear {{ email }},</p>
    <p>You requested a password reset for your account on GTMovieStore. Click the link below to reset your password:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'accounts.password_reset_confirm' uidb64=uid token=token %}">Reset your password</a></p>
    <p>Regards, <br />GTMovieStore Team</p>
</body>
</html>
